@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Merienda:wght@700&family=Rye&display=swap');
.color-custom {
    background: linear-gradient(15deg, 	#32CD32 0%, #ec2F4B 100%);
}

.logo{
    font-family: 'Griffy', cursive;
}

.head-font{
    font-family: 'Merienda', cursive;
}

.pop {
    transition: all 0.2s ease;
    cursor: pointer
}

.pop:active {
    transform: scale(1.15)
}