@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Merienda:wght@700&family=Rye&display=swap');

html {
	background: url(assets/background.png) no-repeat center center fixed;
    background-size: cover;
}

body {
    background-color: inherit;
    
}

.full-width {
    min-height: 100vh;
}

form{
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.logo{
    font-family: 'Griffy', cursive;
    font-size: 60px;
}

.head-font{
    font-family: 'Merienda', cursive;
}
